:root {
  --color-green: #15cd69;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: darken(#15cd69, 20%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #333;
  text-decoration: none;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}